/* Styles for screens with at least 960px width */

.centered {
  text-align: center;
}

.cd-blue {
  background-color: lightblue;
}

.cd-grey {
  background-color: grey;
}

.masthead {
  height: 100px;
  display: block;
  overflow: hidden;
}

.logo {
  height: 100%;
  float: left;
  position: relative;
}

.logo img {
  position: absolute;
  top: 50%;
  margin-top: -32px;
  margin-left: 5px;
}

.contact-info {
  float: right;
  text-align: right;
}

.contact-info .number {
  font-size: 30px;
  color: #0e5682;
}

.office-hours {
  box-shadow: 0 0 7px 3px rgba(0,0,0,.35);
  background-color: rgb(238,238,238);
}

.office-hours ul li {
  list-style-type: none;
  text-align: center;
}

.office-hours ul li div {
  display: inline-block;
}

.day {
  width: 105px;
  text-align: left;
}
